In [4]:
import pandas as pd
#read csv file using panda
df = pd.read_csv('https://talentcocomedia.s3.amazonaws.com/ml-assets/heart-disease.csv')

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

#Justification

1.Here is no null data hence we are not going to drop any column.

**Feature to Keep and drop**

All the parameter required to decide whether the person has heart disease or not.Hence we keep all parameter(Column).

# Types of data in data set

### 1. Continuous data

Continuous data refers to data that can take any value within a certain range or interval. This type of data is measured on a continuous scale, such as time, temperature, or weight. Continuous data is often represented by real numbers, and it can be measured with great precision using instruments such as rulers, thermometers, or scales.

### 2.Categorical data

Categorical data, on the other hand, refers to data that can be grouped into categories or classes. This type of data is often represented by labels or names, such as gender, color, or type of vehicle. Categorical data can be further divided into two sub-types: nominal data and ordinal data.
Nominal data refers to data that can be classified into categories, but the categories have no natural order or ranking. Examples of nominal data include the type of car (sedan, SUV, truck), or the color of a shirt (red, blue, green).

### heatmap, pair plot, cluster map and their interpretations.

Heatmap: A heatmap is a visual representation of a matrix of data where the values are represented by colors. The darker the color, the higher the value. Heatmaps are often used to display correlations between different variables in a dataset. A positive correlation is represented by a darker color, while a negative correlation is represented by a lighter color. Heatmaps can also be used to display patterns or trends within the data, such as changes in values over time or across different categories.

Pair plot: A pair plot is a grid of scatter plots that displays the relationship between pairs of variables in a dataset. Each cell in the grid displays a scatter plot of the relationship between two variables. Pair plots are useful in identifying patterns, relationships, and potential outliers in the data. For example, a pair plot can help to identify a linear or non-linear relationship between two variables or whether there is a clustering of points in the scatter plot.

Cluster map: A cluster map is a heatmap where the rows and columns are clustered based on their similarity. The clustering algorithm groups variables or samples that have similar characteristics or values together. Cluster maps are useful in identifying patterns and relationships within the data, such as groups of variables that have similar values or are strongly correlated. A cluster map can also be used to identify groups of variables that are distinct from each other, which can be useful in understanding the structure of the data.

Overall, these techniques are powerful tools for visualizing and interpreting complex datasets. By using these techniques, researchers and analysts can gain deeper insights into the underlying structure and relationships in the data, which can lead to more accurate and insightful conclusions.